.barra-edicao{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #F2F2F2;
}

.barra-edicao .botao{
    max-width: 80%;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0,0,0, 0.08);
    margin-left: 12px;
    margin-right: 12px;
}